{% block content %}
    <h2>Upravit koncert</h2>
    <form method="POST">
        <label for="date">Datum:</label>
        <input type="date" id="date" name="date" value="{{ concert.date }}" required>
        
        <label for="time">Čas:</label>
        <input type="time" id="time" name="time" value="{{ concert.time }}" required>
        
        <label for="venue">Místo konání:</label>
        <input type="text" id="venue" name="venue" value="{{ concert.venue }}" required>
        
        <label for="event_link">Odkaz na událost:</label>
        <input type="url" id="event_link" name="event_link" value="{{ concert.event_link }}">
        
        <button type="submit">Uložit změny</button>
    </form>
    <br>
    <a href="{{ url_for('admin.admin_news') }}">Zpět na seznam koncertů</a>
{% endblock %}
