{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center">Fotogalerie The Shamans</h1>
    <div class="row g-3">
        {% for image in images %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a href="{{ url_for('static', filename='images/gallery/' + image) }}" data-toggle="lightbox" data-gallery="gallery">
                <img src="{{ url_for('static', filename='images/gallery/' + image) }}" class="img-fluid border rounded shadow" alt="image">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
