{% extends 'base.html' %}

{% block content %}
<div class="gallery-container">
    <div class="row g-3">
        {% for image in images %}
        <div class="col-md-4">
            <a href="{{ url_for('static', filename='images/gallery/' + image) }}" data-toggle="lightbox" data-gallery="gallery">
                <img src="{{ url_for('static', filename='images/gallery/' + image) }}" class="gallery-image" alt="image">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
