{% extends 'base.html' %}       <!-- dědění od base.html. Zdědí hlavičku, patičku (head, footer, navigační lištu, menu..) -->

{% block content %}             <!-- šablona má vlastní contect, ne ten zděděný -->
<div class="text-center">
    <h1>Vítejte na stránkách The Shamans</h1>
    
    {% if concert %}
        <h2>Nejbližší koncert:
            {{ concert.formatted_date }} <a href="{{ url_for('main.concerts') }}">{{ concert.venue }}</a>
     
        </h2>
    {% else %}
        <h2>Připravujeme koncerty</h2>
    {% endif %}

    <!-- Kontejner s obrázkem a textem přes obrázek -->

    <div class="band-photo-container">
        <img src="{{ url_for('static', filename='images/band_black_02.jpg') }}" class="band-photo" alt="kapela The Shamans">
        <div class="overlay-text">
            <div class="news-item">
                <h3>{{ news_homepage.title }}</h3>
                <p>{{ news_content }}</p>
                {% if is_truncated %}
                    <a href="{{ url_for('main.news') }}" class="read-more-link">Čtěte více</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- Kontejner pro video -->
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/XXolhwziPkA" allowfullscreen></iframe>
    </div>
                       
</div>
{% endblock %}
